/*
    Authors: Marco Pettinato and Paul Buldak
    Class: Software Engineering
    Project: Final Project 
    Description: CPSC-44000 Final Project TideWater Quiz App
*/

* {
    margin: 0px;
    font-family: "Comfortaa", cursive;
    scroll-behavior: smooth;
}

.heading {
    text-align: center;
    padding: 10px;
    margin: 10px;
    letter-spacing: 8px;
    font-weight: 400;
}

.header {
    margin: 80px;
}
.footer {
    padding: 100px;
    margin: 100px;
}